@using KaganKuscu.Model.ViewModels
@using KaganKuscu.Model.Dtos
@model HomePageVm
@{
    PersonDto person = Model.Person;
    Quote quote = Model.Quote;
    List<Blog> blogs = Model.Blogs;
}
<!-- START: PAGE CONTENT -->
<section id="about" class="section section-about">
    <div class="animate-up">
        <div class="section-box">
            <div class="profile">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="profile-photo"><img src="@person.ImagePath" alt="@person.Name" /></div>
                    </div>
                    <div class="col-xs-7">
                        <div class="profile-info">
                            <div class="profile-preword"><span>Hello</span></div>
                            <h1 class="profile-title"><span>I'm</span> @person.Name</h1>

                            <h2 class="profile-position">@person.Title</h2>
                        </div>
                        <ul class="profile-list">
                            <li class="clearfix">
                                <strong class="title">Age</strong>
                                <span class="cont">@person.Age</span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">Address</strong>
                                <span class="cont">@person.Address</span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">E-mail</strong>
                                <span class="cont"><a href="mailto:@person.Email">@person.Email</a></span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">Phone</strong>
                                <span class="cont"><a href="tel:@person.Phone">@person.Phone</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="profile-social">
                <ul class="social">
                    @foreach(SocialMedia socialMedia in person.SocialMedias)
                    {
                        <li>
                            <a class="ripple-centered" href="@socialMedia.Url" target="_blank">
                                <i class="@socialMedia.IconCssClass" style="font-size: 24px;"></i>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="section-txt-btn">
            <p>
                <a class="btn btn-lg btn-border ripple" target="_blank"
                   href="@person.ResumePath">Download Resume</a>
            </p>

            @Html.Raw(@person.Description)
        </div>
    </div>
</section>
<!-- #about -->

<section id="skills" class="section section-skills">
    <div class="animate-up">
        <h2 class="section-title">Professional Skills</h2>

        <div class="section-box">
            @for (int i = 0; i < person.Skills.Count; i += 2)
            {
                <div class="row">
                    <div class="col-sm-6">
                        <div class="progress-bar">
                            <div class="bar-data">
                                <span class="bar-title">@person.Skills[i].Name</span>
                                <span class="bar-value">@person.Skills[i].Percent%</span>
                            </div>
                            <div class="bar-line">
                                <span class="bar-fill" data-width="@person.Skills[i].Percent%"></span>
                            </div>
                        </div>
                    </div>
                    @if ((i + 1) < person.Skills.Count)
                    {
                        <div class="col-sm-6">
                            <div class="progress-bar">
                                <div class="bar-data">
                                    <span class="bar-title">@person.Skills[i + 1].Name</span>
                                    <span class="bar-value">@person.Skills[i + 1].Percent%</span>
                                </div>
                                <div class="bar-line">
                                    <span class="bar-fill" data-width="@person.Skills[i + 1].Percent%"></span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                
            }
        </div>
    </div>
</section>
<!-- #skills -->

<section id="experience" class="section section-experience">
    <div class="animate-up">
        <h2 class="section-title">Work Experience</h2>

        <div class="timeline">
            <div class="timeline-bar"></div>
            <div class="timeline-inner clearfix">
                @foreach (var item in person.WorkExperiences.Select((ew, index) => new {index, ew}))
                {
                    <div class="timeline-box timeline-box-@(item.index % 2 == 0 ? "left" : "right")">
                        <span class="dot"></span>

                        <div class="timeline-box-inner animate-right">
                            <span class="arrow"></span>

                            <div class="date">@item.ew.StartDate.Year - @(item.ew.EndDate.Year != 0001 ? item.ew.EndDate : "Present")</div>
                            <h3>@item.ew.Name</h3>
                            <h4>@item.ew.Role</h4>

                            <p>
                                @item.ew.Description
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- #experience -->

<section id="education" class="section section-education">
    <div class="animate-up">
        <h2 class="section-title">Education</h2>

        <div class="timeline">
            <div class="timeline-bar"></div>
            <div class="timeline-inner clearfix">

                @foreach (var item in person.Educations.Select((e, index) => new { index, e } ))
                {
                    <div class="timeline-box timeline-box-compact timeline-box-@(item.index % 2 == 0 ? "left" : "right")">
                        <span class="dot"></span>

                        <div class="timeline-box-inner animate-right">
                            <span class="arrow"></span>

                            <div class="date"><span>@item.e.StartDate.Year - @(item.e.EndDate.Year != 0001 ? item.e.EndDate.Year : "Present")</span></div>
                            <h3>@item.e.Role</h3>
                            <h4>@item.e.Name</h4>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
<!-- #education -->

@if (person.References is not null && person.References.Count > 0)
{
    <section id="references" class="section section-references">
        <div class="animate-up">
            <h2 class="section-title">References</h2>

            <div class="section-box">
                <ul class="ref-slider">
                    @foreach (Reference reference in person.References)
                    {
                        <li>
                            <div class="ref-box">
                                <div class="person-speech">
                                    <p>
                                        @reference.Description
                                    </p>
                                </div>
                                <div class="person-info clearfix">
                                    <img class="person-img" src="@reference.ImagePath" alt="Headshot">

                                    <div class="person-name-title">
                                        <span class="person-name">@reference.Name</span>
                                        <span class="person-title">@reference.Title, </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                <div class="ref-slider-nav">
                    <span id="ref-slider-prev" class="slider-prev"></span>
                    <span id="ref-slider-next" class="slider-next"></span>
                </div>
            </div>
        </div>
    </section>
    <!-- #references -->
}

@if (blogs is not null && blogs.Count > 0)
{

    <section id="blog" class="section section-blog">
        <div class="animate-up">
            <h2 class="section-title">From The Blog</h2>

            <div class="blog-grid">
                <div class="grid-sizer"></div>
                @foreach (Blog blog in blogs)
                {
                    <div class="grid-item">
                        <article class="post-box">
                            <div class="post-media">
                                <div class="post-image">
                                    <a asp-controller="Blog" asp-action="Details" asp-route-id="@blog.Guid"><img src="@blog.Photos.First()" alt="@blog.Title"> </a>
                                </div>
                            </div>

                            <div class="post-data">
                                <time class="post-datetime" datetime="@blog.DateCreated">
                                    <span class="day">@blog.DateCreated.Day</span>
                                    <span class="month">@blog.DateCreated.ToString("MMM")</span>
                                </time>

                                <div class="post-tag">
                                    @foreach (Tag tag in blog.Tags)
                                    {
                                        <a href="">#@tag.Name</a>
                                    }
                                </div>

                                <h3 class="post-title">
                                    <a asp-controller="Blog" asp-action="Details" asp-route-id="@blog.Guid">@blog.Title</a>
                                </h3>

                                <div class="post-info">
                                    <a href=""><i class="rsicon rsicon-user"></i>@blog.Person.Name</a>
                                    <a href=""><i class="rsicon rsicon-comments"></i>@blog.Comments.Count()</a>
                                </div>
                            </div>
                        </article>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- #blog -->
}

<section id="text-section" class="section section-text">
    <div class="animate-up animated">
        <h2 class="section-title">Text Section</h2>

        <div class="section-box">
            <blockquote>
                <p style="font-size: 24px">
                    "@quote.Content"<br>
                    <cite style="font-size: 16px">@quote.Owner</cite>
                </p>
            </blockquote>
        </div>
    </div>
</section>
<!-- #text-section -->

<section id="interests" class="section section-interests">
    <div class="animate-up">
        <h2 class="section-title">My Interests</h2>

        <div class="section-box">
            @Html.Raw(person.Interest)
            <ul class="interests-list">
                @foreach (Interest interest in person.Interests)
                {
                    <li>
                        <i class="@interest.IconCssClass"></i>
                        <span>@interest.Name</span>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>
<!-- #interests -->

<section id="contact" class="section section-contact">
    <div class="animate-up">
        <h2 class="section-title">Contact Me</h2>

        <div class="row">
            <div class="col-sm-12">
                <div class="section-box contact-form">
                    <h3>Feel free to contact me</h3>

                    <form class="rsForm" action="php/mailsender.php" method="post">
                        <div class="input-field">
                            <label>Name</label>
                            <input type="text" name="rsName" value="">
                            <span class="line"></span>
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="email" name="rsEmail" value="">
                            <span class="line"></span>
                        </div>

                        <div class="input-field">
                            <label>Subject</label>
                            <input type="text" name="rsSubject" value="">
                            <span class="line"></span>
                        </div>

                        <div class="input-field">
                            <label>Message</label>
                            <textarea rows="4" name="rsMessage"></textarea>
                            <span class="line"></span>
                        </div>

                        <div class="check-field">
                            <input type="checkbox" name="rsPivacyPolicy" id="rsPivacyPolicy">
                            <label for="rsPivacyPolicy">I have read the Privacy Policy note.</label>
                        </div>

                        <span class="btn-outer btn-primary-outer ripple">
                            <input class="rsFormSubmit btn btn-lg btn-primary" type="submit" value="Send">
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #contact -->
<!-- END: PAGE CONTENT -->