@using KaganKuscu.Model.ViewModels
@using KaganKuscu.Model.Dtos
@model HomePageVm
@{
    PersonDto person = Model.Person;
    Quote quote = Model.Quote;
    List<Blog> blogs = Model.Blogs;
}
<!-- START: PAGE CONTENT -->
<section id="about" class="section section-about">
    <div class="animate-up">
        <div class="section-box">
            <div class="profile">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="profile-photo"><img src="@person.ImagePath" alt="@person.Name" /></div>
                    </div>
                    <div class="col-xs-7">
                        <div class="profile-info">
                            <div class="profile-preword"><span>Hello</span></div>
                            <h1 class="profile-title"><span>I'm</span> @person.Name</h1>

                            <h2 class="profile-position">@person.Title</h2>
                        </div>
                        <ul class="profile-list">
                            <li class="clearfix">
                                <strong class="title">Age</strong>
                                <span class="cont">@person.Age</span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">Address</strong>
                                <span class="cont">@person.Address</span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">E-mail</strong>
                                <span class="cont"><a href="mailto:robertsmith@company.com">robertsmith@company.com</a></span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">Phone</strong>
                                <span class="cont"><a href="tel:@person.Phone">@person.Phone</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="profile-social">
                <ul class="social">
                    <li>
                        <a class="ripple-centered" href="@person.SocialMedias.Where(s => s.Name.Contains("Github")).FirstOrDefault()?.Url" target="_blank">
                            <i class="rsicon rsicon-github" style="font-size: 24px;"></i>
                        </a>
                    </li>
                    <li>
                        <a class="ripple-centered" href="@person.SocialMedias.Where(s => s.Name.Contains("LinkedIn")).FirstOrDefault()?.Url" target="_blank">
                            <i class="rsicon rsicon-linkedin" style="font-size: 24px;"></i>
                        </a>
                    </li>
                    <li>
                        <a class="ripple-centered" href="@person.SocialMedias.Where(s => s.Name.Contains("Instagram")).FirstOrDefault()?.Url" target="_blank">
                            <i class="rsicon rsicon-instagram" style="font-size: 24px;"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="section-txt-btn">
            <p>
                <a class="btn btn-lg btn-border ripple" target="_blank"
                   href="@person.ResumePath">Download Resume</a>
            </p>

            <p>
                @person.Description
            </p>
        </div>
    </div>
</section>
<!-- #about -->

<section id="skills" class="section section-skills">
    <div class="animate-up">
        <h2 class="section-title">Professional Skills</h2>

        <div class="section-box">
            @for (int i = 0; i < person.Skills.Count; i += 2)
            {
                <div class="row">
                    <div class="col-sm-6">
                        <div class="progress-bar">
                            <div class="bar-data">
                                <span class="bar-title">@person.Skills[i].Name</span>
                                <span class="bar-value">@person.Skills[i].Percent%</span>
                            </div>
                            <div class="bar-line">
                                <span class="bar-fill" data-width="@person.Skills[i].Percent%"></span>
                            </div>
                        </div>
                    </div>
                    @if ((i + 1) < person.Skills.Count)
                    {
                        <div class="col-sm-6">
                            <div class="progress-bar">
                                <div class="bar-data">
                                    <span class="bar-title">@person.Skills[i + 1].Name</span>
                                    <span class="bar-value">@person.Skills[i + 1].Percent%</span>
                                </div>
                                <div class="bar-line">
                                    <span class="bar-fill" data-width="@person.Skills[i + 1].Percent%"></span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                
            }
        </div>
    </div>
</section>
<!-- #skills -->

<section id="experience" class="section section-experience">
    <div class="animate-up">
        <h2 class="section-title">Work Experience</h2>

        <div class="timeline">
            <div class="timeline-bar"></div>
            <div class="timeline-inner clearfix">
                @foreach (WorkExperience workExperience in person.WorkExperiences)
                {
                    <div class="timeline-box timeline-box-@(workExperience.Id % 2 == 0 ? "left" : "right")">
                        <span class="dot"></span>

                        <div class="timeline-box-inner animate-right">
                            <span class="arrow"></span>

                            <div class="date">@workExperience.StartDate.Year - @(workExperience.EndDate.Year != 0001 ? workExperience.EndDate : "Present")</div>
                            <h3>@workExperience.Name</h3>
                            <h4>@workExperience.Role</h4>

                            <p>
                                @workExperience.Description
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- #experience -->

<section id="education" class="section section-education">
    <div class="animate-up">
        <h2 class="section-title">Education</h2>

        <div class="timeline">
            <div class="timeline-bar"></div>
            <div class="timeline-inner clearfix">

                @foreach (Education education in person.Educations)
                {
                    <div class="timeline-box timeline-box-compact timeline-box-@(education.Id % 2 == 0 ? "left" : "right")">
                        <span class="dot"></span>

                        <div class="timeline-box-inner animate-right">
                            <span class="arrow"></span>

                            <div class="date"><span>@education.StartDate.Year - @(education.EndDate.Year != 0001 ? education.EndDate.Year : "Present")</span></div>
                            <h3>@education.Role</h3>
                            <h4>@education.Name</h4>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
<!-- #education -->

<section id="references" class="section section-references">
    <div class="animate-up">
        <h2 class="section-title">References</h2>

        <div class="section-box">
            <ul class="ref-slider">
                <li>
                    <div class="ref-box">
                        <div class="person-speech">
                            <p>
                                I confirm that I have dealt with New Company Ltd since 1998. Their work has been a major
                                factor in our
                                website's success, helping it to become one of the most visited resources of its kind on
                                the Internet.
                            </p>
                        </div>
                        <div class="person-info clearfix">
                            <img class="person-img" src="img/uploads/rs-avatar-60x60.jpg" alt="Headshot">

                            <div class="person-name-title">
                                <span class="person-name">Alexander Jokovich</span>
                                <span class="person-title">Modern LLC , HR</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ref-box">
                        <div class="person-speech">
                            <p>
                                I confirm that New Company Ltd has been a customer of ours since 1998, during which time
                                they have always made payments reliably,
                                in full and on time.
                            </p>
                        </div>
                        <div class="person-info clearfix">
                            <img class="person-img" src="img/uploads/rs-avatar-60x60.jpg" alt="Headshot">

                            <div class="person-name-title">
                                <span class="person-name">Alexander Jokovich</span>
                                <span class="person-title">Modern LLC , HR</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ref-box">
                        <div class="person-speech">
                            <p>
                                I have known Robert Smith for 10 years as web developer. I can confirm that he is a man
                                of great integrity, is extremely dedicated
                                to his family and work, and is entirely peace-loving.
                            </p>
                        </div>
                        <div class="person-info clearfix">
                            <img class="person-img" src="img/uploads/rs-avatar-60x60.jpg" alt="Headshot">

                            <div class="person-name-title">
                                <span class="person-name">Alexander Jokovich</span>
                                <span class="person-title">Modern LLC , HR</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="ref-slider-nav">
                <span id="ref-slider-prev" class="slider-prev"></span>
                <span id="ref-slider-next" class="slider-next"></span>
            </div>
        </div>
    </div>
</section>
<!-- #references -->

@if (blogs is not null && blogs.Count > 0)
{

    <section id="blog" class="section section-blog">
        <div class="animate-up">
            <h2 class="section-title">From The Blog</h2>

            <div class="blog-grid">
                <div class="grid-sizer"></div>
                @foreach (Blog blog in blogs)
                {
                    <div class="grid-item">
                        <article class="post-box">
                            <div class="post-media">
                                <div class="post-image">
                                    <a href="single.html"><img src="img/uploads/thumb-449x286-1.jpg" alt=""> </a>
                                </div>
                            </div>

                            <div class="post-data">
                                <time class="post-datetime" datetime="2015-03-13T07:44:01+00:00">
                                    <span class="day">03</span>
                                    <span class="month">MAY</span>
                                </time>

                                <div class="post-tag">
                                    <a href="">#Photo</a>
                                    <a href="">#Architect</a>
                                </div>

                                <h3 class="post-title">
                                    <a href="single-image.html">Image Post</a>
                                </h3>

                                <div class="post-info">
                                    <a href=""><i class="rsicon rsicon-user"></i>by admin</a>
                                    <a href=""><i class="rsicon rsicon-comments"></i>56</a>
                                </div>
                            </div>
                        </article>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- #blog -->
}

<section id="text-section" class="section section-text">
    <div class="animate-up animated">
        <h2 class="section-title">Text Section</h2>

        <div class="section-box">
            <blockquote>
                <p>
                    "@quote.Content"<br>
                    <cite><a href="">@quote.Owner</a></cite>
                </p>
            </blockquote>
        </div>
    </div>
</section>
<!-- #text-section -->

<section id="interests" class="section section-interests">
    <div class="animate-up">
        <h2 class="section-title">My Interests</h2>

        <div class="section-box">
            <p>
                Bisiklet tutkunuyum. Rüzgarı yüzümde hissederek pedallara basmak, özgürlüğün ve maceranın tadını çıkarmak benim için paha biçilemez bir deneyim. Her sürüşte yeni keşiflere yelken açıyor, doğanın güzelliklerine tanık oluyorum. Bisikletimle şehirlerin karmaşasından uzaklaşıp, sakin patikalarda huzur buluyorum. Her viraj yeni bir sürprizi, her tepe yeni bir manzarayı müjdeliyor.
                <br />
                <br />
                Bisikletim sadece bir ulaşım aracı değil, aynı zamanda bir yaşam tarzı. Bisiklet kullanmak bana sadece sağlık ve zindelik değil, aynı zamanda çevreye karşı sorumluluk bilinci de kazandırıyor. Bisikletimle pedal çevirdikçe dünyayı daha güzel bir yer yapmak için katkıda bulunuyorum.
                <br />
                <br />
                Bisiklet tutkum beni her geçen gün daha da ileriye taşıyor. Kendimi geliştirmek için sürekli yeni rotalar arıyor, daha uzun mesafeler kat etmek için antrenman yapıyorum. Bisiklet üzerinde kendimi sınırlarımı zorlarken, aynı zamanda kendimi de daha iyi tanıyorum.
                <br />
                <br />
                Bisikletimle çıktığım her yolculuk unutulmaz bir anıya dönüşüyor. Pedallara her basışımda yeni bir hikaye yazıyorum. Bisiklet tutkum bana sadece keyif ve huzur değil, aynı zamanda unutulmaz anılar ve deneyimler de kazandırıyor.
            </p>

            <ul class="interests-list">
                <li>
                    <i class="map-icon map-icon-bicycling"></i>
                    <span>Bicycling</span>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- #interests -->

<section id="contact" class="section section-contact">
    <div class="animate-up">
        <h2 class="section-title">Contact Me</h2>

        <div class="row">
            <div class="col-sm-12">
                <div class="section-box contact-form">
                    <h3>Feel free to contact me</h3>

                    <form class="rsForm" action="php/mailsender.php" method="post">
                        <div class="input-field">
                            <label>Name</label>
                            <input type="text" name="rsName" value="">
                            <span class="line"></span>
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="email" name="rsEmail" value="">
                            <span class="line"></span>
                        </div>

                        <div class="input-field">
                            <label>Subject</label>
                            <input type="text" name="rsSubject" value="">
                            <span class="line"></span>
                        </div>

                        <div class="input-field">
                            <label>Message</label>
                            <textarea rows="4" name="rsMessage"></textarea>
                            <span class="line"></span>
                        </div>

                        <div class="check-field">
                            <input type="checkbox" name="rsPivacyPolicy" id="rsPivacyPolicy">
                            <label for="rsPivacyPolicy">I have read the Privacy Policy note.</label>
                        </div>

                        <span class="btn-outer btn-primary-outer ripple">
                            <input class="rsFormSubmit btn btn-lg btn-primary" type="submit" value="Send">
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #contact -->
<!-- END: PAGE CONTENT -->