@using KaganKuscu.Model.Dtos
@model PersonDto
@{
    List<Skill> skills = Model.Skills.ToList();
}
<!-- START: PAGE CONTENT -->
<section id="about" class="section section-about">
    <div class="animate-up">
        <div class="section-box">
            <div class="profile">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="profile-photo"><img src="@Model.ImagePath" alt="@Model.Name" /></div>
                    </div>
                    <div class="col-xs-7">
                        <div class="profile-info">
                            <div class="profile-preword"><span>Hello</span></div>
                            <h1 class="profile-title"><span>I'm</span> @Model.Name</h1>

                            <h2 class="profile-position">@Model.Title</h2>
                        </div>
                        <ul class="profile-list">
                            <li class="clearfix">
                                <strong class="title">Age</strong>
                                <span class="cont">@Model.Age</span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">Address</strong>
                                <span class="cont">@Model.Address</span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">E-mail</strong>
                                <span class="cont"><a href="mailto:robertsmith@company.com">robertsmith@company.com</a></span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">Phone</strong>
                                <span class="cont"><a href="tel:@Model.Phone">@Model.Phone</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="profile-social">
                <ul class="social">
                    <li>
                        <a class="ripple-centered" href="@Model.SocialMedias.Where(s => s.Name.Contains("Github")).FirstOrDefault()?.Url" target="_blank">
                            <i class="rsicon rsicon-github" style="font-size: 24px;"></i>
                        </a>
                    </li>
                    <li>
                        <a class="ripple-centered" href="@Model.SocialMedias.Where(s => s.Name.Contains("LinkedIn")).FirstOrDefault()?.Url" target="_blank">
                            <i class="rsicon rsicon-linkedin" style="font-size: 24px;"></i>
                        </a>
                    </li>
                    <li>
                        <a class="ripple-centered" href="@Model.SocialMedias.Where(s => s.Name.Contains("Instagram")).FirstOrDefault()?.Url" target="_blank">
                            <i class="rsicon rsicon-instagram" style="font-size: 24px;"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="section-txt-btn">
            <p>
                <a class="btn btn-lg btn-border ripple" target="_blank"
                   href="@Model.ResumePath">Download Resume</a>
            </p>

            <p>
                @Model.Description
            </p>
        </div>
    </div>
</section>
<!-- #about -->

<section id="skills" class="section section-skills">
    <div class="animate-up">
        <h2 class="section-title">Professional Skills</h2>

        <div class="section-box">
            @for (int i = 0; i < Model.Skills.Count; i += 2)
            {
                <div class="row">
                    <div class="col-sm-6">
                        <div class="progress-bar">
                            <div class="bar-data">
                                <span class="bar-title">@skills[i].Name</span>
                                <span class="bar-value">@skills[i].Percent%</span>
                            </div>
                            <div class="bar-line">
                                <span class="bar-fill" data-width="@skills[i].Percent%"></span>
                            </div>
                        </div>
                    </div>
                    @if ((i + 1) < Model.Skills.Count)
                    {
                        <div class="col-sm-6">
                            <div class="progress-bar">
                                <div class="bar-data">
                                    <span class="bar-title">@skills[i + 1].Name</span>
                                    <span class="bar-value">@skills[i + 1].Percent%</span>
                                </div>
                                <div class="bar-line">
                                    <span class="bar-fill" data-width="@skills[i + 1].Percent%"></span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                
            }
        </div>
    </div>
</section>
<!-- #skills -->

<section id="experience" class="section section-experience">
    <div class="animate-up">
        <h2 class="section-title">Work Experience</h2>

        <div class="timeline">
            <div class="timeline-bar"></div>
            <div class="timeline-inner clearfix">
                @foreach (WorkExperience workExperience in Model.WorkExperiences)
                {
                    <div class="timeline-box timeline-box-@(workExperience.Id % 2 == 0 ? "left" : "right")">
                        <span class="dot"></span>

                        <div class="timeline-box-inner animate-right">
                            <span class="arrow"></span>

                            <div class="date">@workExperience.StartDate.Year - @(workExperience.EndDate.Year != 0001 ? workExperience.EndDate : "Present")</div>
                            <h3>@workExperience.Name</h3>
                            <h4>@workExperience.Role</h4>

                            <p>
                                @workExperience.Description
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- #experience -->

<section id="education" class="section section-education">
    <div class="animate-up">
        <h2 class="section-title">Education</h2>

        <div class="timeline">
            <div class="timeline-bar"></div>
            <div class="timeline-inner clearfix">

                @foreach (Education education in Model.Educations)
                {
                    <div class="timeline-box timeline-box-compact timeline-box-@(education.Id % 2 == 0 ? "left" : "right")">
                        <span class="dot"></span>

                        <div class="timeline-box-inner animate-right">
                            <span class="arrow"></span>

                            <div class="date"><span>@education.StartDate.Year - @(education.EndDate.Year != 0001 ? education.EndDate : "Present")</span></div>
                            <h3>@education.Role</h3>
                            <h4>@education.Name</h4>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
<!-- #education -->

<section id="references" class="section section-references">
    <div class="animate-up">
        <h2 class="section-title">References</h2>

        <div class="section-box">
            <ul class="ref-slider">
                <li>
                    <div class="ref-box">
                        <div class="person-speech">
                            <p>
                                I confirm that I have dealt with New Company Ltd since 1998. Their work has been a major
                                factor in our
                                website's success, helping it to become one of the most visited resources of its kind on
                                the Internet.
                            </p>
                        </div>
                        <div class="person-info clearfix">
                            <img class="person-img" src="img/uploads/rs-avatar-60x60.jpg" alt="Headshot">

                            <div class="person-name-title">
                                <span class="person-name">Alexander Jokovich</span>
                                <span class="person-title">Modern LLC , HR</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ref-box">
                        <div class="person-speech">
                            <p>
                                I confirm that New Company Ltd has been a customer of ours since 1998, during which time
                                they have always made payments reliably,
                                in full and on time.
                            </p>
                        </div>
                        <div class="person-info clearfix">
                            <img class="person-img" src="img/uploads/rs-avatar-60x60.jpg" alt="Headshot">

                            <div class="person-name-title">
                                <span class="person-name">Alexander Jokovich</span>
                                <span class="person-title">Modern LLC , HR</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ref-box">
                        <div class="person-speech">
                            <p>
                                I have known Robert Smith for 10 years as web developer. I can confirm that he is a man
                                of great integrity, is extremely dedicated
                                to his family and work, and is entirely peace-loving.
                            </p>
                        </div>
                        <div class="person-info clearfix">
                            <img class="person-img" src="img/uploads/rs-avatar-60x60.jpg" alt="Headshot">

                            <div class="person-name-title">
                                <span class="person-name">Alexander Jokovich</span>
                                <span class="person-title">Modern LLC , HR</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="ref-slider-nav">
                <span id="ref-slider-prev" class="slider-prev"></span>
                <span id="ref-slider-next" class="slider-next"></span>
            </div>
        </div>
    </div>
</section>
<!-- #references -->

<section id="blog" class="section section-blog">
    <div class="animate-up">
        <h2 class="section-title">From The Blog</h2>

        <div class="blog-grid">
            <div class="grid-sizer"></div>
            <div class="grid-item">
                <article class="post-box">
                    <div class="post-media">
                        <div class="post-image">
                            <a href="single.html"><img src="img/uploads/thumb-449x286-1.jpg" alt=""> </a>
                        </div>
                    </div>

                    <div class="post-data">
                        <time class="post-datetime" datetime="2015-03-13T07:44:01+00:00">
                            <span class="day">03</span>
                            <span class="month">MAY</span>
                        </time>

                        <div class="post-tag">
                            <a href="">#Photo</a>
                            <a href="">#Architect</a>
                        </div>

                        <h3 class="post-title">
                            <a href="single-image.html">Image Post</a>
                        </h3>

                        <div class="post-info">
                            <a href=""><i class="rsicon rsicon-user"></i>by admin</a>
                            <a href=""><i class="rsicon rsicon-comments"></i>56</a>
                        </div>
                    </div>
                </article>
            </div>

            <div class="grid-item">
                <article class="post-box">
                    <div class="post-media">
                        <div class="post-image">
                            <a href="single-vimeo.html">
                                <img src="img/uploads/thumb-449x286-5.jpg" alt="">
                                <span class="post-type-icon"><i class="rsicon rsicon-play"></i></span>
                            </a>
                        </div>
                    </div>

                    <div class="post-data">
                        <time class="post-datetime" datetime="2015-03-13T07:44:01+00:00">
                            <span class="day">03</span>
                            <span class="month">MAY</span>
                        </time>

                        <div class="post-tag">
                            <a href="">#Photo</a>
                            <a href="">#Architect</a>
                        </div>

                        <h3 class="post-title">
                            <a href="single-vimeo.html">Vimeo Video Post</a>
                        </h3>

                        <div class="post-info">
                            <a href=""><i class="rsicon rsicon-user"></i>by admin</a>
                            <a href=""><i class="rsicon rsicon-comments"></i>56</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- #blog -->

<section id="text-section" class="section section-text">
    <div class="animate-up animated">
        <h2 class="section-title">Text Section</h2>

        <div class="section-box">
            <p>
                Hello! I’m Robert Smith and this is custom editor section. You can add here any text or "Strikethrough"
                text and even you can add bulleted or numbered text and even you will be able to add blockquot text. You
                can align this text to left/right/center.

                One of the most interesting options is to divide this section to "One half" "One Third" and "One
                Fourth".

                You can use this for Honors or Achievments or Awards sections. You can insert images and photos right in
                this editor!
            </p>
        </div>
    </div>
</section>
<!-- #text-section -->

<section id="interests" class="section section-interests">
    <div class="animate-up">
        <h2 class="section-title">My Interests</h2>

        <div class="section-box">
            <p>
                I have a keen interest in photography. I was vice-president of the photography club during my time at
                university,
                and during this period I organised a number of very successful exhibitions and events both on and off
                campus.
                <br />I also play the piano to grade 8 standard.
            </p>

            <ul class="interests-list">
                <li>
                    <i class="map-icon map-icon-bicycling"></i>
                    <span>Bicycling</span>
                </li>
                <li>
                    <i class="map-icon map-icon-movie-theater"></i>
                    <span>Watch Movies</span>
                </li>
                <li>
                    <i class="map-icon map-icon-ice-skating"></i>
                    <span>Skating</span>
                </li>
                <li>
                    <i class="map-icon map-icon-shopping-mall"></i>
                    <span>Shopping</span>
                </li>
                <li>
                    <i class="map-icon map-icon-tennis"></i>
                    <span>Playing Tennis</span>
                </li>
                <li>
                    <i class="map-icon map-icon-bowling-alley"></i>
                    <span>Playing Bowling</span>
                </li>
                <li>
                    <i class="map-icon map-icon-swimming"></i>
                    <span>Swimming</span>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- #interests -->

<section id="contact" class="section section-contact">
    <div class="animate-up">
        <h2 class="section-title">Contact Me</h2>

        <div class="row">
            <div class="col-sm-12">
                <div class="section-box contact-form">
                    <h3>Feel free to contact me</h3>

                    <form class="rsForm" action="php/mailsender.php" method="post">
                        <div class="input-field">
                            <label>Name</label>
                            <input type="text" name="rsName" value="">
                            <span class="line"></span>
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="email" name="rsEmail" value="">
                            <span class="line"></span>
                        </div>

                        <div class="input-field">
                            <label>Subject</label>
                            <input type="text" name="rsSubject" value="">
                            <span class="line"></span>
                        </div>

                        <div class="input-field">
                            <label>Message</label>
                            <textarea rows="4" name="rsMessage"></textarea>
                            <span class="line"></span>
                        </div>

                        <div class="check-field">
                            <input type="checkbox" name="rsPivacyPolicy" id="rsPivacyPolicy">
                            <label for="rsPivacyPolicy">I have read the Privacy Policy note.</label>
                        </div>

                        <span class="btn-outer btn-primary-outer ripple">
                            <input class="rsFormSubmit btn btn-lg btn-primary" type="submit" value="Send">
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #contact -->
<!-- END: PAGE CONTENT -->